*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.call_back{
    position: relative;
    padding-top: 52px;
    padding-bottom: 40px;
}

.call_back_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.call_back_left{
    display: flex;
    flex-direction: column;
    gap: 92px 0;
}

.call_back_title{
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 40px;
    font-weight: 800;
    line-height: 123%;
    letter-spacing: 5%;
}

form{
    display: flex;
    flex-direction: column;
}

.inputs{
    display: flex;
    max-width: 608px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.inputs input{
    border-radius: 10px;
    background: #ffffff;
    padding: 10px 16px;
}

.inputs input::placeholder{
    color: rgb(179, 179, 179);
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    display: flex;
    align-items: center;
}